body
{
    color: #4c51f7;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 900;

    background-color: rgb(0,0,0);


}
header
{
    color: #a500a5;
    background-color: #f8bd1c;
    padding: 10rem 40vw;
}
header h1
{
    margin: 5rem 0vw; 
    color: #0059ff;
}
header p
{
    color: rebeccapurple;
    padding: 10rem 20vw;
    background-color: whitesmoke;
}
nav
{
    background-color: yellowgreen;
}
nav ul
{
    list-style-type: disc;
    padding: 0 2vw;
    margin: 0 10vw;
    display: grid;

}
nav a
{
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 600;
    display: block;
    padding: 1rem 1vw;
}
nav li.active a
{
    background-color: aquamarine;
    color: rgb(255, 0, 0);
}
nav a:hover
{
    color: black;
}
footer
{
    background-color: coral;
    text-align: justify;
    color: wheat;
    padding: 5rem 2vw;
    font-size: large;
}